<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-update-manifest"
        version="1.0.0">

  <name>Update Manifest</name>

  <description>
    Update the manifest file
  </description>

  <author>M Sai Krishna</author>
  
  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <!-- android -->
  <platform name="android">
    <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <intent-filter>
                <data android:host="www.zopnow.com" android:pathPrefix="/" android:scheme="http" />
                <data android:host="www.zopnow.com" android:pathPrefix="/" android:scheme="https" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
    </config-file>
  </platform>  

</plugin>
